.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $min-light;
  color: $max-light;

  &-container {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $xl) {
      width: 80%;
    }

    @media screen and (max-width: $m) {
      width: 96%;
    }
  }
}

.footer-text {
  font-size: .8rem;
  font-weight: 500;
}

.footer-icons {
  display: flex;
}

.footer-icon {
  background: no-repeat center center;
  background-size: 60% 60%;
  width: 2rem;
  height: 2rem;
  display: block;

  &--ig {
    background-image: url('../img/instagram.svg');
  }

  &--yt {
    background-image: url('../img/youtube.svg');
  }

  &--tg {
    background-image: url('../img/tg.svg');
  }
}
