.navigation, .modal-form {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: $gray-1;
  z-index: 1000;

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $max-light;
    overflow: auto;

    @media screen and (max-width: $s) {
      justify-content: start;
    }
  }

  &-divider {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: $gray-3;
    margin: 1.5rem 0;

    &::before, &::after {
      content: '';
      display: block;
      border-top: 1px solid $gray-3;
      width: 40%;
    }
  }

  &.open {
    transform: translate(100vw, 0);
  }

  @media screen and (max-width: $s) {
    transition: transform .2s ease-in;
  }
}

.submit-form {
  width: 15rem;
}

.label {
  display: block;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0;
}

.input {
  border-style: none;
  border: 1px solid $gray-2;
  background-color: $gray-1;
  outline: none;
  color: $max-light;
  padding: .5rem .8rem;
  display: block;
  width: 100%;

  &:focus, &:hover {
    border-color: $gray-3;
  }

  &:invalid {
    border-color: $action;
  }
}

.tg-btn {
  background-color: $tg-color;
  color: $max-light !important;
  text-decoration: none !important;
  width: 100%;
  display: flex;
  height: 2.5rem;
  line-height: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../img/tg.svg');
    display: inline-block;
    margin-right: 0.4rem;
  }
}

.nav-close-btn {
  position: absolute;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 4rem;
  height: 4rem;
  background: url('../img/close.svg') no-repeat center center;
  background-size: 60% 60%;
  border: none;
  top: 2.5rem;
  left: 2.5rem;
  padding: 0.5rem;

  @media screen and (max-width: $s) {
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
    left: 1rem;
  }
}

.nav-logo {
  display: block;
  flex: 0 0 auto;
  width: 12rem;
  height: 8rem;
  background: url('../img/logo.svg') no-repeat center center;
  @include background-cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-menu {
  flex: 0 0 auto;
  width: 15rem;
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-weight: 500;

  & > li {
    height: 2rem;
    margin-bottom: .5rem;
  }

  & a {
    color: $max-light !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header {
  color: $max-light;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem 1rem;
  background-color: $gray-1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  & > * {
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bricks.jpg') no-repeat center center;
    @include background-cover;
    opacity: 0.1;
    z-index: 0;
  }
}

.menu-btn {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 4rem;
  height: 4rem;
  background: url('../img/menu.svg') no-repeat center center;
  background-size: 60% 60%;
  border: none;
  position: fixed;
  z-index: 1000;
  top: 2.5rem;
  left: 2.5rem;
  padding: 0.5rem;

  @media screen and (max-width: $m) {
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0,0,0,.3);
  }
}

.logo {
  width: 36rem;
  height: 24rem;
  background: url('../img/logo.svg') no-repeat center center;
  @include background-cover;
  margin-bottom: 1rem;

  @media screen and (max-width: $m) {
    width: 27rem;
    height: 18rem;
    margin-bottom: 0;
  }

  @media screen and (max-width: $s) {
    width: 18rem;
    height: 12rem;
    margin-top: 2rem;
  }
}

.slogan {
  font-size: 2.5em;
  text-align: center;
  font-weight: 100;
  margin-bottom: 4rem;

  @media screen and (max-width: $m) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.header-action {
  width: 960px;
  display: flex;

  @media screen and (max-width: $xl) {
    flex-direction: column;
    width: 480px;
  }

  @media screen and (max-width: $s) {
    width: 100%;
  }
}

.video {
  display: flex;
  flex-basis: 50%;
  min-height: 200px;
  background-color: $min-light;

  & .video-frame {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
  }
}

.cta-block {
  flex-basis: 50%;
  height: 244px;
  background-color: rgba(0,0,0,.3);
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $s) {
    padding: 1rem;
  }
}

.cta-list {
  padding: 0;
  list-style-type: none;
}

.cta-go {
  display: flex;

  @media screen and (max-width: $s) {
    flex-direction: column;
  }
}

.cta-date {
  width: 100%;
  background-color: $min-light;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
}

.cta-btn, .submit-btn {
  width: 100%;
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  background-color: $action;
  color: $max-light;

  &.in-menu {
    margin-top: 1.5rem;
  }
}
