.section-fifth {
  color: $max-light;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 4rem 1rem;
  background-color: $gray-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @media screen and (max-width: $m) {
    padding: 1rem .8rem;
  }

  .cost {
    width: 960px;

    @media screen and (max-width: $xl) {
      width: 720px;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: $m) {
      width: 100%;
      flex-direction: column;
      text-align: center;
    }

    &-header {
      font-size: 2.4rem;
      @include body-font;
      font-weight: 300;
      margin-bottom: 2.5rem;
      text-align: center;

      @media screen and (max-width: $m) {
        font-size: 2rem;
      }
    }

    .costs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .costs-item {
      height: 18rem;
      width: calc(33.33333% - 3rem);
      text-align: center;
      border: 1px solid $max-light;
      padding: .8rem;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--best {
        height: 21rem;
        width: calc(33.33333% - .5rem);
        overflow: hidden;
        position: relative;

        &:before {
          width: 10rem;
          height: 1rem;
          content: '';
          display: block;
          position: absolute;
          top: 1rem;
          right: -2rem;
          background-color: $action;
          transform: rotate(45deg);
        }
      }

      &-header {
        font-size: 2rem;
        font-weight: 500;
      }

      &-price {
        font-size: 1.4rem;
        font-weight: 500;
        color: $action;
        padding-bottom: .8rem;
      }

      &-text {
        font-size: .9rem;

        p {
          margin-bottom: .5rem;
        }
      }
    }

    .cta-btn {
      width: calc(33.33333% - .5rem);
      margin: auto;
      margin-top: 4rem;
    }
  }
}
